body {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
}

.main-container {
    border: 2px solid black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.options-container button {
    margin: 5px;
}

.main-container h2 {
    font-size: 1rem;
}

.score-container {
    flex-direction: row;
}

p {
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
}
